@media only screen and (min-width : 321px) and (max-width : 480px) {

/* Styles for some mobile devices */

}

@media only screen and (max-width : 320px) {

/* Styles for some other mobiles */

}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

body {
    background-color: rgb(247, 215, 189);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(68, 32, 68);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: white;
}

.box {
    border: 2px solid rgb(0, 0, 0);
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}

.box:hover {
    background-color: rgb(124, 178, 203);
}

.info {
    font-size: 40px;
}

.gameInfo {
    padding: 0 150px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1 {
    font-size: 2.5rem;

}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;

}

#reset:hover {
    background-color: rgb(243, 153, 34);
}

.line {
    background-color: black;
    height: 6px;
    width: 0;
    position: absolute;
    background-color: #0f0d0f;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 2 rem;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
